* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4d5053;
  --main-color: #ffff;
  --subMain-color: #1e1247;
}

.blog_sec1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.blog_img_container {
  width: 100%;
}
.blog_section {
  position: relative;
}
.blog_section__content {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}
.blog_sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.blog_card {
  background-color: var(--main-color);
  border-radius: 20px 20px 0 0;
  width: 450px;
  height: 90px;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.blog_sec2_h4 {
  font-size: 40px;
  font-weight: 500;
  color: #1e1247;
  margin: 10px;
  padding-top: 10px;
}
/* styles for contacts us */
