@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 0 70px;
 z-index: 9000;

}
.w3-top, .w3-bottom {
  position: fixed;
  width: 100%;
  z-index: 9000;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar > .w3-bar-item {
  color: #292F36;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
#navbar li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mobile {
  color: #3a3270;
}

#mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 115px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #2a3239;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  .logo img {
    max-width: 70%;
    height: auto;
  }

  #navbar.active {
    right: 0;
  }

  #navbar .w3-button {
    margin-bottom: 25px;
	font-size: 1.3rem;
	font-weight: 425;
  }

  #mobile {
    display: block;
    font-size: 1.4rem;
    color: #3a3270;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}
