@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Outfit', sans-serif;
  background: #ffffff;
  padding: 0 20px;
  z-index: 9000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.w3-top,
.w3-bottom {
  position: fixed;
  width: 100%;
  z-index: 9000;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

#navbar > .w3-bar-item {
  color: #292f36;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
#navbar li {
  list-style: none;
  display: flex;
  align-items: center;
  font-family: 'Outfit, sans-serif';
  font-weight: 700;
  font-size: 20px;
  color: rgba(41, 47, 54, 0.4);
  justify-content: center;
  text-align: justify;
}

#mobile {
  color: #3a3270;
}

#mobile {
  display: none;
}

@media screen and (max-width: 56.96em) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: 0;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 70px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #9193dec9;
    padding: 40px 0 0 10px;
    transition: 0.8s ease-in-out;
    border-radius: 15px 0 0 15px;
    height: 495px;
  }

  #navbar.active {
    right: 0;
  }

  #navbar .w3-button {
    margin-bottom: 25px;
    font-size: 1.3rem;
    background-color: rgba(145, 147, 222, 0);
    font-weight: 425;
  }

  #mobile {
    display: block;
    font-size: 1.4rem;
    color: #3a3270;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}
