* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4D5053;
    --main-color: #FFFF;
    --subMain-color: #1E1247;
}
.about_img_container{
    z-index: -1;
}
.about_sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
   }
   .about_inner_div{
       position: absolute;
       top: 250px;
       bottom: 40px;
      
   }
   .about_card{
       background-color: var(--main-color);
       border-radius: 10px;
       width: 450px;
       height: 90px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }
   .about_sec2_h4{
       font-size: 40px;
       font-weight: 500;
       color: #1E1247;
       margin: 10px;
       padding-top: 10px;
   
   }
   .about_sec3{
    height: 40vh;
   }