/* Home.css */
*{
  margin: 0;
  padding: 0;
  
}
:root{
  --primary-color:#4D5053;
  --main-color:#FFFF;
  --subMain-color:#1E1247;
}
.sec1 {
  height: 100vh;
  background-color: #FFFF;
}

/* Style for the Carousel.Caption */
.carousel .carousel-item .carousel-caption {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFFF; 
}

.carousel .carousel-item .carousel-caption h5 {
  color: #FFFF;
  font-size: 2.5rem; 
}

.carousel .carousel-item .carousel-caption p {
  color: #FFFF; 
  font-weight: 500;
}
/* section 2 styling */
    .sec2_header{
        padding-top: 40px;
        margin-left: 80px;
        margin-right: 80px;
    }
    .sec2_header h2{
    font-weight: 900;
    font-size: 2rem;
    color:#422A3C;
    ;
    }
    .sec2_header p{
      font-weight: 400;
      font-size: 1.1rem;
      color: #555555;
      ;
    }


    /* Adjustments for section 2 */
    .sec2_row {
      padding-left: 40px;
      padding-right: 40px;
    }

    .sec2_row img {
      padding-top: 15px;
    }

    .sec2_col2 {
      column-count: 2;
      column-gap: 4px;
    }

    .sec2_col1 img {
      border-radius: 18px 0 0 18px;
      padding-top: 15px;
    }

    .sec2_row3 img {
      border-radius: 0 18px 18px 0;
    }

    .sec2_row2 img {
      padding-left: 5px;
    }

      /* Section 3 styling */
 /* Bootstrap testimonial      */
.section-header{
  position: relative;
  text-align: center;
  font-weight: 500;
  padding-bottom: 25px;
  padding-top: 40px;
  color: #BA7894;
}
.section-headerp{
  position: relative;
  text-align: center;
  font-weight: 900;
  padding-bottom: 25px;
  color: #1E1247;
}
.section-header::after{
  content:'';
  height: 3px;
  width: 200px;
  position: relative;
  bottom: 0;
  left: calc(50% -100px);
  background: #fff;
}
.section-header span{
  display: block;
  font-size: 15px;
  font-weight:300 ;
}
.testimonials{
  max-width: 1000px;
  padding:  0 15px 50px;
  margin: 0 auto 80px auto;
}
.single-item{
  background-color: #1E1247;
  padding: 15px;
  margin: 0 15px;
  border-radius: 20px;
}

/* Styling for vertical white lines */
.lines {
  position: absolute;
  top: 55px;
  bottom: 105px;
  left: 35px;
  display: flex;
  margin-left: 55px;
  z-index: 0;
 

}

.line1 {
  border-radius: 15px;
  flex: 2;
  width: 60px;
  background-color: #fff;
  height: 150px;
  margin: 5px;
}
.line2 {
  border-radius: 15px;
  flex: 2;
  width: 2px;
  background-color: #fff;
  margin: 0 auto; 
  margin: 5px;
  height: 250px;
}
.profile{
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 80px;
  margin-left: 50px;
  
}
.image_area{
  margin: 0 15ppx 15px 15px;
  

}
.image_area img{

  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 7px solid white;
  
}
.content {
  font-size: 18px;
  margin-top: 100px;
}
.content p{
   text-align: justify;
   color: #FFFF;
}
.content p span{
  font-size: 20px;
  margin-right: 10px;
 

  color: #FFFF;
}
.FaQuoteRight{
  padding-left: 10px;
}
 .bio{
  color: #FFFF;
  margin-left: 140px;
 }   
 /* section 4 css */
 .sec4{
  height: 100vh;
 }
 .sec4_inner_container{
 width: 350px;
 height: 450px;
 
 }
 .sec4_card_container {
  height: 400px;
  border-radius: 30px;
 }
 .sec4_card_container1{
  background-color: #CEC3D2;
  margin-right: 50px;
 
 }
 .sec4_card_container2{
  background-color: #F4F0EC;
  margin-left: 30px;
  margin-right: 30px;
 }
 .sec4_card_container3{
  background-color: #CEC3D2;
  margin-left: 50px;
 }
 .img_container3, .img_container1, .img_container2{
  padding-top: 20px;
 }
 .img_container3 img,.img_container2 img,.img_container1 img{
  border-radius: 30px 30px 0 0;
  height: 200px;
 }
 .img_caption{
  position: relative;
  bottom: 50px;
  left: 10px;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 5px;
  border-radius: 10px 10px 10px 0;
}
h2.section-headerp {
  position: relative;
  text-align: center;
  font-weight: 900;
  color: #1E1247;
  padding-top: 5px;
}
.card-content {
  word-wrap: break-word;
    max-height: 100px; /* Set your desired max height */
  overflow-y: auto;
}

/* section 5 css */
.sec5{
  margin-bottom: 60px;
}
.sec5_inner_container{
  width: 300px;
 
}
 .sec5_card_container2{
  background-color: #CEC3D2;
  border-radius: 0 80px  0 0;
 }
 .sec5_card_container3{
  background-color: #CEC3D2;
  border-radius: 80px 0 0 0;
 }
 .sec5_img_container3,.sec5_img_container2{
  padding-top: 20px;
 }
 .sec5_img_container3 img,.sec5_img_container2 img{
  width: 170px;
  height: 170px;
 }
h2.section5-headerh {
  position: relative;
  text-align: center;
  font-weight: 900;
  color: #1E1247;
  padding-top: 5px;
}
p.section5-headerp {
  position: relative;
  text-align: center;
  font-weight: 500;
  color: #4D5053;
  padding-top: 5px;
}
/* Responsive styles */
@media screen and (max-width: 1024px) {
  .sec1 {
    height: auto;
  }

  .sec2 {
    height: auto;
  }
  .sec4{
    height: auto;
  }
  .sec5{
    height: auto;
  }

  .sec2_col1 img {
    justify-items: center;
    padding: 0;
  }

  .sec2_row img {
    margin: 0;
    padding: 5px;

  }
  /* section 3 */
  .profile{
    margin-bottom: 30px;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    
  }
  /* Styling for vertical white lines */
.lines {
  top: 0;
  margin-left: 105px;
 

}
.line1 {
  border-radius: 15px;
  flex: 2;
  width: 60px;
  background-color: #fff;
  height: 125px;
  margin: 5px;
}
.line2 {
  background-color: #fff;
  margin: 0 auto; 
  margin: 5px;
  height: 225px;
}

  .content {
    margin-top: 0;
  }
  .bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
   }
  /* section 4 styles */
  .section4_Out_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .sec4_inner_container{
    width: 100%;
  }
  .sec4_card_container{
    padding: 0;
    margin: 25px;
      height: 360px;   
  }
  .card-content {
    word-wrap: break-word;
     max-height: 60px; 
    overflow-y: auto;
  }
/* styles section 5 */
.sec5_img_container3 img,.sec5_img_container2 img{
  width: 100%;
  height: 200px;
 }
 .section5_Out_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.sec5_inner_container{
  width: 100%;
  margin: 0;
  padding: 0;
}
.sec5_card_container2{
  background-color: #CEC3D2;
  border-radius: 15px 15px 15px 15px;
  margin-left: 35px;
 }
 .sec5_card_container3{
  background-color: #CEC3D2;
  border-radius: 15px 15px 15px 15px;
  margin-right: 30px;

  
 }

}


  