* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4D5053;
    --main-color: #FFFF;
    --subMain-color: #1E1247;
}
.shop_img_container{
    z-index: -1;
}
.shop_sec2{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: var(--main-color);
}
.shop_inner_div{
    position: absolute;
    top: 250px;
    bottom: 40px;
   
}
.shop_card{
    background-color: var(--main-color);
    border-radius: 10px;
    width: 450px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shop_sec2_h4{
    font-size: 40px;
    font-weight: 500;
    color: #1E1247;
    margin: 10px;
    padding-top: 10px;

}
/* styles for contacts us */
.shop_col_container{
    display: flex;
    flex-direction: row;
    
}
.shop_wraper{
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 90px;
    column-gap: 90px;
}
.shop_col_div_info_container h3{
    font-size: 2.7rem;
    font-weight: 600;
    color: #1E1247;
}