body {
  margin: 0;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #baacd7;
  --mainColorLight: #1e1247;
  --secondaryColor: #3a3270;
  --textColor: #0e0d0d;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100vh;
}
.logoContainer {
  margin-top: 40px;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-self: center;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerContainer h1 {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 65px;
  font-weight: 700;
}
.headerContainer h4 {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.ContactContent {
  display: flex;
}

.ContactContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 40px 20px 40px;
}

.socialLinksContainer,
.carelineLinksContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.socialLinksContainer h2,
.carelineLinksContainer h2,
.socialLinksContainer h4,
.carelineLinksContainer h4,
.socialLinksContainer ul,
.carelineLinksContainer ul {
  margin: 2px 0;
  padding: 0;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff7c5;
}

.comingSoonSocials,
.carelineLinksContainer .comingSoonSocials {
  list-style: none;
  padding: 0;
  display: flex;
}

.comingSoonSocials li,
.carelineLinksContainer .comingSoonSocials li {
  margin-right: 10px;
}
.comingSoonSocials li a,
.carelineLinksContainer .comingSoonSocials li a {
  list-style: none;
}

.carelineLinksContainer {
  margin-top: 20px;
  position: absolute;
  right: 10px;
}

.circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e6ead9;
  overflow: hidden;
  text-align: center;
  color: #220f47;
}

.circle-icon svg {
  width: 60%;
  height: 60%;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 900px) {
  body {
    margin: 0;
    overflow: hidden;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .contentContainer {
    height: 100vh;
  }
  .logoContainer {
    margin: 0;
    margin-top: -100px;
    width: 300px;
    height: 300px;
  }
  .ContactContent {
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }
  .headerContainer h1 {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 25px;
    font-weight: 700;
  }
  .headerContainer h4 {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
  .socialLinksContainer h2,
  .carelineLinksContainer h2,
  .socialLinksContainer h4,
  .carelineLinksContainer h4,
  .socialLinksContainer ul,
  .carelineLinksContainer ul {
    margin: 4px 0;
    padding: 0;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff7c5;
  }

  .comingSoonSocials {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    gap: 20px;
  }

  .comingSoonSocials li,
  .carelineLinksContainer .comingSoonSocials li {
    margin-right: 5px;
  }
  .comingSoonSocials li a,
  .carelineLinksContainer .comingSoonSocials li a {
    list-style: none;
  }

  .carelineLinksContainer {
    margin-top: 20px;
    position: relative;
    right: 0px;
    left: 0px;
  }

  .circle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e6ead9;
    overflow: hidden;
    text-align: center;
    color: #220f47;
  }

  .circle-icon svg {
    width: 60%;
    height: 60%;
  }
}
